<div class="container mt-3">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <input type="text" class="form-control" (input)="onInputChange($event)" formControlName="name" placeholder="Enter category">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" (click)="search()">Search</button>
      </div>
    </div>
    <div class="mt-3">
      <label class="mr-3">
        <input type="radio" formControlName="type" name="type" value="Romantique" (change)="onRadioChange('Romantique')">
        Romantique
      </label>
      <label class="mr-3">
        <input type="radio" formControlName="type" name="type" value="Science-Fiction" (change)="onRadioChange('Science-Fiction')">
        Science-Fiction
      </label>
      <label>
        <input type="radio" formControlName="type" name="type" value="Aventure" (change)="onRadioChange('Aventure')">
        Aventure
      </label>
    </div>
  </form>
</div>
